.App {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  background-color: var(--background);
  width: 100vw;
  height: 95vh;

  cursor: grab;
  -webkit-overflow-scrolling: touch;
}

.App:active {
  cursor: grabbing;
  outline: none;
}

.App:focus {
  outline: none;
}

.Navbar {
  width: 100%;
  height: 5vh;

  padding: 0 1rem;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  position: relative;

  color: #fff;
  background-color: var(--background-secondary);

  z-index: 999;
  cursor: default;
}

.navbar--country-label {
  flex: 1;
  font-size: 2vmin;
}
.Navbar .navbar-settings,
.Navbar .navbar-logo {
  flex: 1;
}

.navbar-logo {
  text-align: center;
  height: 100%;
}

.navbar-logo svg {
  height: 100%;
  width: auto;
}

.navbar-settings {
  transition-duration: 0.2s;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.navbar--country-label p {
  text-align: left;
}

.navbar--settings-button {
  height: 100%;
  background-color: transparent;
  border: 0;
}

.navbar--settings-button svg {
  width: 4vmin;
  height: 4vmin;
}

.settings-active {
  transform: rotate(45deg);
  transition: transform 0.2s;
}

.settings-unactive {
  transform: rotate(-45deg);
  transition: transform 0.2s;
}

@media screen and (max-width: 900px) {
  .App {
    position: absolute;
    top: 5vh;
  }

  .Navbar {
    width: 100vw;

    position: absolute;
    top: 0;
    left: 0;
  }

  .navbar--settings-button svg {
    width: 28px;
    height: 28px;
  }

  .navbar--country-label p {
    font-size: 1.5em;
  }

  .country-details--title {
    margin-bottom: 0.5em !important;
  }

  .country-details--close {
    width: 28px !important;
    height: 28px !important;
  }
}
