.page--root {
  box-sizing: border-box;
  width: 100%;
  height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background-color: var(--background);
}

.content--wrapper {
  padding: 1em 0.5em;
  margin-bottom: 1em;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: var(--background-secondary);
  color: var(--secondary);

  border-radius: 3px;
}

.content--wrapper h1 {
  margin-bottom: 1em;
}

.form--wrapper {
  min-width: 380px;
  max-width: 380px;

  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}

.form--input {
  padding: 1em 2em;
}

.form--input label {
  position: relative;

  font-size: 1em;
}

.form--input label input {
  width: 100%;

  padding: 0.5em 0.5em 0.5em 0.5em;

  background-color: transparent;
  color: var(--secondary);
  font-size: 1em;

  border: 2px solid var(--primary);
  border-radius: 3px;
}

.form--input label p {
  padding: 0 0.5em;

  position: absolute;
  top: -20px;
  left: 5px;
  z-index: 999;

  background-color: var(--background-secondary);
}

.form--input input[type='submit'] {
  width: 100%;
  padding: 1em 1em;

  background-color: var(--primary);
  font-size: 1em;
  color: var(--secondary);

  border: 0;
  border-radius: 3px;
}

.form--input input[type='submit']:focus,
.form--input label input:focus {
  outline: auto;
  outline-color: var(--secondary);
}

.info--wrapper {
  min-width: 396px;

  padding: 1em 0.5em;
  margin-bottom: 1em;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: var(--background-secondary);
  color: var(--secondary);

  border-radius: 3px;
}
