:root {
  --background: #01162e;
  --background-secondary: #010f1f;
  --primary: #ff3b85;
  --secondary: #00ffc2;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

html,
body {
  width: 100%;

  font-family: 'Recursive', 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;

  overflow: -moz-hidden-unscrollable;
  overflow-x: hidden;
}

button,
input[type='submit'] {
  cursor: pointer;
}

button,
input {
  font-family: 'Recursive', 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}

a {
  color: var(--primary);
  text-decoration: none;
}

a:focus,
a:hover {
  text-decoration: underline;
}

.error--wrapper {
  margin: 1em 2em;
  padding: 0.5em;

  text-align: center;
  color: var(--secondary);
  background-color: var(--primary);

  border-radius: 3px;
}
